<div class="card text-white bg-info mb-3" style="max-width: 25rem;height:20rem;">
  <div class="card-header text-center"> Purchase Summary</div>
  <div class="card-body">
    <h5 class="card-title">Total: ${{product.price}}</h5>
      <hr>
      <h6 class="card-title">Bought:</h6>

      <ul>
          <li *ngFor="let product">
              {{product.name }} - {{product.price}} pcs.
          </li>
      </ul>

      <button class="btn btn-light btn-block" (click)="sendToCart()" routerLink="/shopping-cart"
              [disabled]="product.price.length == 0">
              Confirm Purchase
      </button>

      <button class="btn btn-light btn-block" routerLink="/products">
      Cancel
      </button>
      <!--<nav class="btn btn-light btn-block" click="/products">Cancel</nav>-->
   
  </div>
</div>